@model IEnumerable<Cart2.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreatePerson")
</p>
<table class="table table-responsive-sm">
    <tr>
        <th>
            Customers
        </th>
        <th></th>
    </tr>

    @foreach (var person in Model)
    {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelPerson=> person.Name)</b> (@Html.DisplayFor(modelPerson => person.Number))
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPerson", new { id = person.Id }) |
                @Html.ActionLink("Delete", "DeletePerson", new { id = person.Id }) |
                @Html.ActionLink("List Items", "Details", new { personId = person.Id }) |
            </td>
        </tr>
    }

</table>
